/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */


body 
{
	height:27cm;
	width:21cm;
	font-size:.8em;	
	font-family:"Tahoma",Arial, Helvetica, sans-serif;
}
.align-center
{
	text-align:center;
}
.align-right
{
	text-align:right;
}

h1, h4
{
	font-weight:bold;
}
strong
{
	font-weight:bold;
}
.normal-font
{
	font-size:14px;
}
.logo
{
	padding:5px;
	text-align:center;
	vertical-align:middle;
}
.title h1
{
	font-size:24px;
	text-decoration:underline;
}
.agenda 
{
	font-size:20px;
}
.kop
{
	padding:12px 13px;
	text-align:center;
}
.kop h1
{
	font-size:10px;
}
.notes
{
	height:70px;
	font-weight:bold;
}
.footer
{
	margin-top:20px;
}
.row-top
{
	padding:5px 0px 2px 5px;
}
.row-topx
{
	padding:5px 0px 2px 5px;
	border:solid 1px #000;
	border-bottom:none;
}
.row-bottom
{
	padding:3px 0px 3px 5px;
	border:solid 1px #000;
}
.border-right
{
	border-right:solid 1px #000;
}
.border-left
{
	border-left:solid 1px #000;
}
.border-right-left
{
	border-right:solid 1px #000;
	border-left:solid 1px #000;
}
.clear
{
	margin-bottom:5px;
}
.clear10
{
	display:block;
	height:10px;
}
.container_20 .grid_1_1 {
	width:10px;
}
.container_20 .grid_7_1 {
	width:310px;
}

.container_20 .pull_1_1 {
	left:-20px;
}
.hide
{
	border:1px solid #333;
	padding:2px 5px;
}

.warning
{
	color:#F00;
	font-size:20px;
	margin:10px;
}

button
{
	cursor:pointer;
}

/*TABLE*/
table {
	border-collapse:collapse;
	font-family:"Tahoma",Arial, Helvetica, sans-serif;
	font-size: .9em;
	text-align: left;
	width:100%;
}

table a:link, table a:visited, table a:active {
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

table a:hover {
	background: transparent;
	color: #000000;
}

table caption {
	background-color: transparent;
	font-family: Georgia, serif;
	font-size: 24px;
	padding-bottom: 12px;
	padding-left: 8px;
	text-align: left;
}

table, td, th {
	margin: 0;
	padding: 0;
}

tbody td, tbody th {
	background-color: #eee;
	border-bottom: 2px solid #ddd;
	border-top: 3px solid #fff;
	padding: 4px 4px 9px 4px;
}
tbody td {
	border:solid 1px #000;
	border-right:none;
}
tbody td:last-child
{
	border-right:solid 1px #000;
}
tbody tr:nth-child(odd) th, tbody tr:nth-child(odd) td {
	background-color: #fff;
	border:solid 1px #000;
	border-right:none;
}
tbody tr:nth-child(odd) td:last-child
{
	border-right:solid 1px #000;
}
tbody td.inverse, tbody tr:nth-child(odd) td.inverse
{
	background:#333;
}
tbody tr:hover td, tbody tr:hover th {
	background-color: #ccc;
}

td, th {
}

tfoot td, tfoot th {
	font-weight: bold;
	padding: 4px 8px 6px 9px;
}

thead th {
	text-align:center;
	vertical-align: middle;
	font-family:"Tahoma",Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 4px;
	border:solid 1px #000;
	border-top-style:double;
}

table.table-no-border tbody td, table.table-no-border tbody td:last-child
{
	border:none;
}